@media screen and (max-width: 768px) {
    .bookPage {
        width: 85% !important;
        padding: 15px !important;
        margin: 30px 0 !important;
    }

    .bookPageDiv {
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !important;
    }



    .bookPageHeading {
        font-size: 32px !important;
        text-align: center;
        padding: 10px 5px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .bookPageSmallHeading {
        text-align: center;
        padding: 0px 15px 0px 15px !important;
        font-size: 25px !important;
        word-spacing: 1px !important;
    }

    .bookPageParagraph {
        text-align: justify;
        padding: 0px 15px 0px 15px !important;
    }

    .bookPageButton {
        width: 80% !important;
        display: flex;
        margin: auto;
        padding: 0 !important;
    }

    .bookPageButtonOne {
        font-size: 15px !important;
        padding: 5px 0px 0px 0px !important;
    }

    .bookPageButtonTwo {
        font-size: 15px !important;
        padding: 5px 0px 0px 0px !important;
    }

    .bookTop {
        padding: 0 !important;
    }

    .bookCardDiv {
        justify-content: center !important;
        margin-top: -42px !important;
        margin-bottom: 20px !important;
    }

    .bookCardList {
        height: 140px !important;
    }

    .bookCardSmall {
        width: 120px !important;
        height: 140px !important;
    }

    .bookCardTextDiv {
        display: flex !important;
        justify-content: end !important;
        background-color: #43d87d !important;
    }

    .bookCardTextDivH5 {
        width: 50% !important;
        color: black !important;
        opacity: 0.5 !important;
        font-weight: 900;
    }

    .bookCardSmall {
        opacity: 1 !important;
        z-index: 1 !important;
        opacity: 0.6 !important;

    }

}


.bookCardDiv {
    margin-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
}

.bookCardList {
    width: 140px !important;
}

.bookCardTextDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
}

.bookCardSmall {
    opacity: 0.6;
}