@media screen and (max-width: 768px) {
    .bookPage {
        width: 85% !important;
        padding: 15px !important;
        margin: 30px 0 !important;
    }

    .bookPageDiv {
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !important;
    }



    .bookPageHeading {
        font-size: 32px !important;
        line-height: 10vw !important;
        text-align: center;
        padding: 0px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .bookPageSmallHeading {
        text-align: center;
        padding: 0px 15px 0px 15px !important;
        font-size: 25px !important;
        word-spacing: 1px !important;
    }

    .bookPageParagraph {
        text-align: justify;
        padding: 0px 15px !important;
    }

    .bookPageButton {
        margin-top: -25px !important;
        width: 92% !important;
        margin: auto;
        padding: 0 !important;
    }

    .bookPageButtonOne {
        font-size: 15px !important;
        padding: 5px 0px 0px 0px !important;
    }

    .bookPageButtonTwo {
        font-size: 15px !important;
        padding: 5px 0px 0px 0px !important;
    }

    .bookTop {
        padding: 0 !important;
    }



    .bookCardTextDivH5 {
        font-weight: 900;
        padding-left: 20px;
        padding-right: 20px;
    }

    .newBookBox {
        width: 80% !important;
        padding-top: 120px !important;
        padding-bottom: 120px !important;
    }

    .bookCardTextDiv {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .bookCardDiv {
        margin-bottom: 0px !important;
        flex-wrap: wrap !important;
        display: flex !important;
        justify-content: center !important;

    }

}


.bookCardDiv {
    margin-bottom: 45px;
    display: flex;
    border: none;
}

.bookCardList {
    height: 80px;
    margin: 10px;
    border-radius: 50px;
    background-color: #d5fc39 !important;
    color: black !important;
}

.bookCardTextDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
}


.newBookBox {
    background-color: #d5fc39;
    width: 70%;
    border-radius: 200px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 180px;
    padding-left: 50px;
    flex-wrap: wrap;
}

.newBookBoxText {
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 30px;
}

.newBookBoxTextSpan {
    font-weight: 700;
    font-size: 18px;
}

.bookCardTextDivH5 {
    font-size: 15px !important;

}

.bookPageButtonOneClick {
    color: #d5fc39;
    background-color: black;
}

.bookPageButtonOne {
    font-size: 15px;
}

.hrStyle {
    border: 2px solid black;
}