/* .bookPage00 {
    background: linear-gradient(135deg, #d5fc39, #fff, #fff, #fff, #fff, #fff, #fff, #d5fc39);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

.bookPage01 {
    width: 85%;
    height: auto;
}

.bookPage02 {
    display: flex;
    justify-content: center;
}

.bookPage0201 {
    display: flex;
    justify-content: center;
    width: 48%;
}

.bookPage0202 {
    display: flex;
    justify-content: center;
    width: 48%;
}

.bookPage020101 {
    width: 80%;
}

.bookPage020101Main00 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.bookPage020101Main01 {
    font-size: 56px;
}

.bookPage020101Main02 {
    font-size: 32px;
    text-align: center;
}

.bookPage020101Main03 {
    font-size: 20px;
    text-align: justify;
}


.bookPage020201 {
    width: 80%;
}

.bookPage020201Main00 {
    position: relative;
}

.bookPage020201Main0001 {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 35px;
    border: 2px solid black;
}

.bookPage020201Main01 {
    position: absolute;
    margin-right: 35px;
    bottom: 100px;
    left: 50px;
}

.bookPage020201Main0101 {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}

.bookPage020201Main0102 {
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
}

.bookPage020101Main0401 {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: black;
    color: #d5fc39;
    border: none;
    padding-bottom: 3px;
}

@media screen and (min-device-width:0px) and (max-device-width: 320px) {
    .bookPage00 {
        height: auto;
    }

    .bookPage01 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bookPage02 {
        flex-wrap: wrap-reverse !important;
    }

    .bookPage0201 {
        width: 100%;
    }

    .bookPage0202 {
        width: 100%;
    }

    .bookPage020101 {
        width: 90%;
    }

    .bookPage020101Main00 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bookPage020101Main01 {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    .bookPage020101Main02 {
        font-size: 16px;
        text-align: center;
    }

    .bookPage020101Main03 {
        font-size: 12px;
        text-align: justify;
    }

    .bookPage020101Main0401 {
        font-weight: 900;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-color: black;
        color: #d5fc39;
        border: none;
        padding-bottom: 3px;
    }

    .bookPage020201Main0001 {
        border-radius: 35px;
        border: 2px solid black;
    }

    .bookPage020201Main01 {
        margin-right: 20px;
        bottom: 80px;
        left: 20px;
    }

    .bookPage020201Main0101 {
        font-size: 20px;
    }

    .bookPage020201Main0102 {
        font-size: 30px;
    }

    .bookPage020201 {
        margin-bottom: -40px;
        margin-top: -40px;
    }
}

@media screen and (min-device-width:321px) and (max-device-width: 375px) {
    .bookPage020201 {
        margin-bottom: -40px;
        margin-top: -40px;
    }

    .bookPage00 {
        height: auto;
    }

    .bookPage01 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bookPage02 {
        flex-wrap: wrap-reverse !important;
    }

    .bookPage0201 {
        width: 100%;
    }

    .bookPage0202 {
        width: 100%;
    }

    .bookPage020101 {
        width: 90%;
    }

    .bookPage020101Main00 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bookPage020101Main01 {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    .bookPage020101Main02 {
        font-size: 16px;
        text-align: center;
    }

    .bookPage020101Main03 {
        font-size: 12px;
        text-align: justify;
    }

    .bookPage020101Main0401 {
        font-weight: 900;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-color: black;
        color: #d5fc39;
        border: none;
        padding-bottom: 3px;
    }

    .bookPage020201Main0001 {
        border-radius: 35px;
        border: 2px solid black;
    }

    .bookPage020201Main01 {
        margin-right: 20px;
        bottom: 80px;
        left: 20px;
    }

    .bookPage020201Main0101 {
        font-size: 25px;
    }

    .bookPage020201Main0102 {
        font-size: 40px;
    }
}

@media screen and (min-device-width:375px) and (max-device-width: 425px) {
    .bookPage00 {
        height: auto;
    }

    .bookPage01 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bookPage02 {
        flex-wrap: wrap-reverse !important;
    }

    .bookPage0201 {
        width: 100%;
    }

    .bookPage0202 {
        width: 100%;
    }

    .bookPage020101 {
        width: 90%;
    }

    .bookPage020101Main00 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bookPage020101Main01 {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    .bookPage020101Main02 {
        font-size: 16px;
        text-align: center;
    }

    .bookPage020101Main03 {
        font-size: 12px;
        text-align: justify;
    }

    .bookPage020101Main0401 {
        font-weight: 900;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-color: black;
        color: #d5fc39;
        border: none;
        padding-bottom: 3px;
    }

    .bookPage020201Main0001 {
        border-radius: 35px;
        border: 2px solid black;
    }

    .bookPage020201Main01 {
        margin-right: 20px;
        bottom: 80px;
        left: 20px;
    }

    .bookPage020201Main0101 {
        font-size: 28px;
    }

    .bookPage020201Main0102 {
        font-size: 44px;
    }
}

@media screen and (min-device-width:425px) and (max-device-width: 540px) {
    .bookPage00 {
        height: auto;
    }

    .bookPage01 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bookPage02 {}

    .bookPage0201 {
        width: 50%;
    }

    .bookPage0202 {
        width: 50%;
    }

    .bookPage020101 {
        width: 90%;
    }

    .bookPage020101Main00 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bookPage020101Main01 {
        font-size: 27px;
        font-weight: 600;
        text-align: center;
    }

    .bookPage020101Main02 {
        font-size: 15px;
        text-align: center;
    }

    .bookPage020101Main03 {
        font-size: 9px;
        text-align: justify;
    }

    .bookPage020101Main0401 {
        font-weight: 900;
        font-size: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-color: black;
        color: #d5fc39;
        border: none;
        padding-bottom: 3px;
    }

    .bookPage020201Main0001 {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 35px;
        border: 2px solid black;
    }

    .bookPage020201Main01 {
        margin-right: 10px;
        bottom: 30px;
        left: 10px;
    }

    .bookPage020201Main0101 {
        font-size: 15px;
    }

    .bookPage020201Main0102 {
        font-size: 25px;
    }
}

@media screen and (min-device-width:540px) and (max-device-width: 767px) {
    .bookPage00 {
        height: auto;
    }

    .bookPage01 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bookPage02 {}

    .bookPage0201 {
        width: 50%;
    }

    .bookPage0202 {
        width: 50%;
    }

    .bookPage020101 {
        width: 90%;
    }

    .bookPage020101Main00 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bookPage020101Main01 {
        font-size: 39px;
        font-weight: 600;
        text-align: center;
    }

    .bookPage020101Main02 {
        font-size: 20px;
        text-align: center;
    }

    .bookPage020101Main03 {
        font-size: 14px;
        text-align: justify;
    }

    .bookPage020101Main0401 {
        font-weight: 900;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-color: black;
        color: #d5fc39;
        border: none;
        padding-bottom: 3px;
    }



    .bookPage020201Main0001 {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 35px;
        border: 2px solid black;
    }

    .bookPage020201Main01 {
        margin-right: 20px;
        bottom: 40px;
        left: 20px;
    }

    .bookPage020201Main0101 {
        font-size: 18px;
    }

    .bookPage020201Main0102 {
        font-size: 29px;
    }
}

@media screen and (min-device-width:768px) and (max-device-width: 1023px) {
    .bookPage00 {
        height: auto;
    }

    .bookPage01 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bookPage02 {}

    .bookPage0201 {
        width: 50%;
    }

    .bookPage0202 {
        width: 50%;
    }

    .bookPage020101 {
        width: 90%;
    }

    .bookPage020101Main00 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bookPage020101Main01 {
        font-size: 50px;
        font-weight: 600;
        text-align: center;
    }

    .bookPage020101Main02 {
        font-size: 28px;
        text-align: center;
    }

    .bookPage020101Main03 {
        font-size: 18px;
        text-align: justify;
    }

    .bookPage020101Main0401 {
        font-weight: 900;
        font-size: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-color: black;
        color: #d5fc39;
        border: none;
        padding-bottom: 3px;
    }

    .bookPage020201Main0001 {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 35px;
        border: 2px solid black;
    }

    .bookPage020201Main01 {
        margin-right: 20px;
        bottom: 60px;
        left: 20px;
    }

    .bookPage020201Main0101 {
        font-size: 25px;
    }

    .bookPage020201Main0102 {
        font-size: 44px;
    }
}

@media screen and (min-device-width:1024px) and (max-device-width: 1439px) {
    .bookPage00 {
        height: auto;
    }

    .bookPage01 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bookPage02 {}

    .bookPage0201 {
        width: 50%;
    }

    .bookPage0202 {
        width: 50%;
    }

    .bookPage020101 {
        width: 90%;
    }

    .bookPage020101Main00 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bookPage020101Main01 {
        font-size: 65px;
        font-weight: 600;
        text-align: center;
    }

    .bookPage020101Main02 {
        font-size: 34px;
        text-align: center;
    }

    .bookPage020101Main03 {
        font-size: 24px;
        text-align: justify;
    }

    .bookPage020101Main0401 {
        font-weight: 900;
        font-size: 28px;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-color: black;
        color: #d5fc39;
        border: none;
        padding-bottom: 3px;
    }

    .bookPage020201Main0001 {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 35px;
        border: 2px solid black;
    }

    .bookPage020201Main01 {
        margin-right: 30px;
        bottom: 70px;
        left: 30px;
    }

    .bookPage020201Main0101 {
        font-size: 30px;
    }

    .bookPage020201Main0102 {
        font-size: 58px;
    }
}

@media screen and (min-device-width:1229px) and (max-device-width: 1439px) {
    .bookPage00 {
        height: auto;
    }

    .bookPage01 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bookPage02 {}

    .bookPage0201 {
        width: 50%;
    }

    .bookPage0202 {
        width: 50%;
    }

    .bookPage020101 {
        width: 90%;
    }

    .bookPage020101Main00 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bookPage020101Main01 {
        font-size: 80px;
        font-weight: 600;
        text-align: center;
    }

    .bookPage020101Main02 {
        font-size: 45px;
        text-align: center;
    }

    .bookPage020101Main03 {
        font-size: 29px;
        text-align: justify;
    }

    .bookPage020101Main0401 {
        font-weight: 900;
        font-size: 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-color: black;
        color: #d5fc39;
        border: none;
        padding-bottom: 3px;
    }

    .bookPage020201Main0001 {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 35px;
        border: 2px solid black;
    }

    .bookPage020201Main01 {
        margin-right: 40px;
        bottom: 70px;
        left: 40px;
    }

    .bookPage020201Main0101 {
        font-size: 35px;
    }

    .bookPage020201Main0102 {
        font-size: 68px;
    }
}

@media screen and (min-device-width:1440px) and (max-device-width: 2560px) {
    .bookPage00 {
        height: auto;
    }

    .bookPage01 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bookPage02 {}

    .bookPage0201 {
        width: 50%;
    }

    .bookPage0202 {
        width: 50%;
    }

    .bookPage020101 {
        width: 90%;
    }

    .bookPage020101Main00 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bookPage020101Main01 {
        font-size: 94px;
        font-weight: 600;
        text-align: center;
    }

    .bookPage020101Main02 {
        font-size: 50px;
        text-align: center;
    }

    .bookPage020101Main03 {
        font-size: 34px;
        text-align: justify;
    }

    .bookPage020101Main0401 {
        font-weight: 900;
        font-size: 35px;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-color: black;
        color: #d5fc39;
        border: none;
        padding-bottom: 3px;
    }

    .bookPage020201Main0001 {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 35px;
        border: 2px solid black;
    }

    .bookPage020201Main01 {
        margin-right: 45px;
        bottom: 80px;
        left: 45px;
    }

    .bookPage020201Main0101 {
        font-size: 40px;
    }

    .bookPage020201Main0102 {
        font-size: 82px;
    }
} */


/* .bookReveals {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.bookReveals.active {
    transform: translateY(0px);
    opacity: 1;
}

@media screen and (min-device-width:1440px) and (max-device-width: 2560px) {
    .bookPage {
        padding-top: 0px !important;
        padding-left: 25px !important;
        padding-right: 20px !important;
        padding-bottom: 0px !important;
    }

    .bookImageResponse {
        padding-right: 0px !important;
    }

    .bookPage {
        min-height: 400px !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }


    .bookPageHeading {
        font-size: 100px !important;
        min-height: 100px !important;
        line-height: 40px !important;
        margin-top: 15px;
    }

    .bookPageSmallHeading {
        font-size: 38px !important;
        word-spacing: 1px !important;
    }

    .bookPageParagraph {
        margin-top: 10px !important;
        font-size: 25px !important;
    }

}

@media screen and (min-device-width:1025px) and (max-device-width: 1440px) {
    .bookPage {
        padding-top: 0px !important;
        padding-left: 25px !important;
        padding-right: 20px !important;
        padding-bottom: 0px !important;
    }

    .bookImageResponse {
        padding-right: 0px !important;
    }

    .bookPage {
        min-height: 400px !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }


    .bookPageHeading {
        font-size: 62px !important;
        min-height: 70px !important;
        line-height: 40px !important;

    }

    .bookPageSmallHeading {
        font-size: 25px !important;
        word-spacing: 1px !important;
    }

    .bookPageParagraph {
        margin-top: 10px !important;
    }

}

@media screen and (min-device-width:768px) and (max-device-width: 1024px) {

    .bookPage {
        min-height: 400px !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .bookPageHeading {
        font-size: 40px !important;
        min-height: 50px !important;
        line-height: 40px !important;
    }

    .bookPageSmallHeading {
        font-size: 25px !important;
        word-spacing: 1px !important;
    }

    .bookPageParagraph {
        margin-top: 10px !important;
    }

}

@media screen and (min-device-width:426px) and (max-device-width: 768px) {
    .bookImageResponse {
        margin: 0 0 !important;
    }

    .bookPageHeading {
        font-size: 38px !important;
        min-height: 60px !important;
        line-height: 40px !important;
        padding: 0 10px !important;
    }

    .bookPageParagraph {
        margin-top: 10px !important;
    }

}

@media screen and (max-width: 768px) {
    .bookPage {
        width: 85% !important;
        padding: 15px !important;
        margin: 30px 0 !important;
    }

    .bookPageDiv {
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !important;
    }

    .bookPageHeading {
        font-size: 32px !important;
        line-height: 10vw !important;
        text-align: center;
        padding: 0px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .bookPageSmallHeading {
        text-align: center;
        padding: 0px 15px 0px 15px !important;
        font-size: 25px !important;
        word-spacing: 1px !important;
    }

    .bookPageParagraph {
        text-align: justify;
        padding: 0px 15px !important;
    }

    .bookPageButton {
        margin-top: -25px !important;
        width: 92% !important;
        margin: auto;
        padding: 0 !important;
    }

    .bookPageButtonOne {
        font-size: 15px !important;
        padding: 5px 0px 0px 0px !important;
    }

    .bookPageButtonTwo {
        font-size: 15px !important;
        padding: 5px 0px 0px 0px !important;
    }

    .bookTop {
        padding: 0 !important;
    }

    .bookCardTextDivH5 {
        font-weight: 900;
        padding-left: 20px;
        padding-right: 20px;
    }

    .newBookBox {
        width: 80% !important;
        padding-top: 120px !important;
        padding-bottom: 120px !important;
    }

    .bookCardTextDiv {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .bookCardDiv {
        margin-bottom: 0px !important;
        flex-wrap: wrap !important;
        display: flex !important;
        justify-content: center !important;
    }

}

@media screen and (min-device-width: 320px) and (max-device-width: 426px) {

    .bookImageResponse {
        margin: 0 0 !important;
    }

    .bookPageHeading {
        font-size: 38px !important;
        min-height: 60px !important;
        line-height: 40px !important;
        padding: 0 10px !important;
    }

    .bookPageParagraph {
        margin-top: 10px !important;
    }
}

@media screen and (min-device-width: 0px) and (max-device-width: 320px) {

    .bookPageHeading {
        font-size: 25px !important;
        min-height: 60px !important;
        line-height: 40px !important;
        padding: 0 10px !important;
    }

    .bookPageSmallHeading {
        font-size: 20px !important;
    }

    .bookPageParagraph {
        margin-top: 10px !important;
        font-size: 15px !important;
    }
}


.bookCardDiv {
    margin-bottom: 45px;
    display: flex;
    border: none;
}

.bookCardList {
    height: 80px;
    margin: 10px;
    border-radius: 50px;
    background-color: #d5fc39 !important;
    color: black !important;
}

.bookCardTextDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
}


.newBookBox {
    background-color: #d5fc39;
    width: 70%;
    border-radius: 200px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 180px;
    padding-left: 50px;
    flex-wrap: wrap;
}

.newBookBoxText {
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 30px;
}

.newBookBoxTextSpan {
    font-weight: 700;
    font-size: 18px;
}

.bookCardTextDivH5 {
    font-size: 15px !important;

}

.bookPageButtonOneClick {
    color: #d5fc39;
    background-color: black;
}

.bookPageButtonOne {
    font-size: 15px;
}

.hrStyle {
    border: 2px solid black;
} */

/* ******************************** */

/* @media screen and (max-width: 768px) {
    .bookPage {
        width: 85% !important;
        padding: 15px !important;
        margin: 30px 0 !important;
    }

    .bookPageDiv {
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !important;
    }



    .bookPageHeading {
        font-size: 32px !important;
        text-align: center;
        padding: 10px 5px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .bookPageSmallHeading {
        text-align: center;
        padding: 0px 15px 0px 15px !important;
        font-size: 25px !important;
        word-spacing: 1px !important;
    }

    .bookPageParagraph {
        text-align: justify;
        padding: 0px 15px 0px 15px !important;
    }

    .bookPageButton {
        width: 80% !important;
        display: flex;
        margin: auto;
        padding: 0 !important;
    }

    .bookPageButtonOne {
        font-size: 15px !important;
        padding: 5px 0px 0px 0px !important;
    }

    .bookPageButtonTwo {
        font-size: 15px !important;
        padding: 5px 0px 0px 0px !important;
    }

    .bookTop {
        padding: 0 !important;
    }

    .bookCardDiv {
        justify-content: center !important;
        margin-top: -42px !important;
        margin-bottom: 20px !important;
    }

    .bookCardList {
        height: 140px !important;
    }

    .bookCardSmall {
        width: 120px !important;
        height: 140px !important;
        overflow: hidden !important;
    }

    .bookCardTextDiv {
        display: flex !important;
        justify-content: end !important;
        background-color: #43d87d !important;
    }

    .bookCardTextDivH5 {
        width: 50% !important;
        color: black !important;
        opacity: 0.5 !important;
        font-weight: 900;
    }

    .bookCardSmall {
        opacity: 1 !important;
        z-index: 1 !important;
        opacity: 0.6 !important;

    }

}


.bookCardDiv {
    margin-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
}

.bookCardList {
    width: 140px !important;
}

.bookCardTextDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
}

.bookCardSmall {
    opacity: 0.6;
} */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(150px);
    transition: all 1s;
    /* position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease; */
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    /* transition-delay: all 2s ease;
    transform: translateY(0px);
    opacity: 1; */
}

.row {
    flex-wrap: wrap-reverse;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.inbookReveals {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.8s ease;
}

.inbookReveals.active {
    transform: translateY(0px);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .inbookPage {
        width: 85% !important;
        padding: 15px !important;
        margin: 30px 0 !important;
    }

    .inbookPageDiv {
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !important;
    }



    .inbookPageHeading {
        font-size: 32px !important;
        line-height: 10vw !important;
        text-align: center;
        padding: 0px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .inbookPageSmallHeading {
        text-align: center;
        padding: 0px 15px 0px 15px !important;
        font-size: 25px !important;
        word-spacing: 1px !important;
    }

    .inbookPageParagraph {
        text-align: justify;
        padding: 15px 0px 0px 0px !important;
    }

    .inbookPageButton {
        width: 80% !important;
        display: flex;
        padding: 0 !important;
    }

    .inbookPageButtonOne {
        font-size: 15px !important;
        padding: 5px 0px 0px 0px !important;
    }

    .inbookPageButtonTwo {
        font-size: 15px !important;
        padding: 5px 0px 0px 0px !important;
    }

    .inbookTop {
        padding: 0 !important;
    }



    .inbookCardTextDivH5 {
        font-weight: 900;
        padding-left: 20px;
        padding-right: 20px;
    }

    .innewBookBox {
        width: 80% !important;
        padding-top: 120px !important;
        padding-bottom: 120px !important;
    }

    .inbookCardTextDiv {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .inbookCardDiv {
        margin-bottom: 0px !important;
        flex-wrap: wrap !important;
        display: flex !important;
        justify-content: center !important;

    }

}


.inbookCardDiv {
    margin-bottom: 45px;
    display: flex;
    border: none;
}

.inbookCardList {
    height: 80px;
    margin: 10px;
    border-radius: 50px;
    background-color: #d5fc39 !important;
    color: black !important;
}

.inbookCardTextDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
}


.innewBookBox {
    background-color: #d5fc39;
    width: 70%;
    border-radius: 35px;
    border: 3px solid black;
    display: flex;
    align-items: flex-end;
    padding-bottom: 180px;
    padding-left: 50px;
    flex-wrap: wrap;
}

.innewBookBoxText {
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 30px;
}

.innewBookBoxTextSpan {
    font-weight: 700;
    font-size: 18px;
}

.inbookCardTextDivH5 {
    font-size: 15px !important;

}

.inbookPageButtonOneClick {
    color: #d5fc39;
    background-color: black;
}

.inbookPageButtonOne {
    font-size: 15px;
}

/* .inhrStyle {
    border: 2px solid black;
} */

.inbooklink {
    text-decoration: none;
    color: white;
}