.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(150px);
    transition: all 1s;
    /* position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease; */
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    /* transition-delay: all 2s ease;
    transform: translateY(0px);
    opacity: 1; */
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}



.contactReveals {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.8s ease;
}

.contactReveals.active {
    transform: translateY(0px);
    opacity: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.airplaneContainer {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    animation: bg-color 5s infinite;
    width: 99.9%;
    height: 92.1%;
}


.airplane {
    position: relative;
    width: 20%;
    left: 100%;
    animation: fly 10s linear infinite;
}

@keyframes fly {
    0% {
        left: -30%;
        top: 400px;
    }

    20% {
        top: 200px;
    }

    40% {
        top: 380px;
    }

    55% {
        top: 300px;
    }

    70% {
        top: 400px;
    }

    100% {
        top: 200px;
    }
}


.airplaneContainer01 {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    animation: bg-color01 5s infinite;
    width: 99.9%;
    height: 92.1%;
}

.airplane01 {
    position: relative;
    width: 20%;
    right: 100%;
    animation: fly01 10s linear infinite;
    animation-duration: 20s;
}

@keyframes fly01 {
    0% {
        right: -100%;
        top: 450px;
    }

    25% {
        top: 100px;
    }

    45% {
        top: 450px;
    }

    70% {
        top: 500px;
    }

    100% {
        top: 100px;
    }
}

.contactPage {
    min-height: 690px;
}

.contactPageDivHeading {
    padding: 0 !important;
    margin: 0 !important;
}

@media screen and (max-width: 768px) {
    .contactPageHeading {
        font-size: 2.5rem !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .contactPageHeading01 {
        font-size: 1.8rem !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .contactPageDivHeading {
        padding: 0 !important;
        margin: 0 !important;
    }

    .contactPageHeadingForm {
        width: 85% !important;
        padding: 0 !important;
        margin: auto !important;
    }

    .contactPage {
        padding: 0 0 25px 0 !important;
        margin: 0 !important;
        min-height: auto;

    }

    .airplane {
        width: 40%;
    }

    .airplane01 {
        width: 40%;
    }
}

.sendContact {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.onSend {
    margin: auto;
    padding-top: 5px;
}

.sendContact:hover {
    background-color: #d5fc39;
    color: black;
}