.exp1Reveals {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.8s ease;
}

.exp1Reveals.active {
    transform: translateY(0px);
    opacity: 1;
}

.dropDownRowOne01 {
    background-color: #ffcb46;
    margin: 0;
    padding: 0;
}

.tableOne {
    width: 85%;
    margin: auto;
    border: 2px solid black;
    /* margin-top: 20px; */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
.onlyTd,
tr {
    padding: 30px 12px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

/* tr:hover {
    background-color: #D6EEEE;
} */


.newtableContainerColumn01 {
    font-weight: 900;
    font-size: 23px;
}

@media screen and (min-device-width: 0px) and (max-device-width: 350px) {
    .newexperienceblogTwoMainTextStyle h5 {
        font-weight: 700;
        font-size: 14px !important;
    }
}

@media screen and (min-device-width: 351px) and (max-device-width: 425px) {
    .newexperienceblogHeading00 h1 {
        font-size: 30px !important;
    }

    .newexperienceblogTwoMainTextStyle h5 {
        font-weight: 700;
        font-size: 16px !important;
    }
}

@media screen and (min-device-width: 426px) and (max-device-width: 768px) {
    .newexperienceblogHeading00 h1 {
        font-size: 44px !important;
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .newexperienceblogTwoMainInnerDiv {
        flex-wrap: nowrap !important;
    }

    .newexperienceblogTwoMainImgCardStyle {
        margin: 10px 0px !important;
        padding: 10px 25px !important;
    }

    .newexperienceblogTwoMainLogoStyle {
        width: 50% !important;

    }

    .newexperienceblogTwoMainImgCardStyle {
        margin: 0 0 0 0 !important;
    }

    .newexperienceblogHeadingButtonDiv {
        margin-top: 0px !important;
    }
}

@media screen and (max-width: 768px) {

    .newtableOne {
        width: 100%;
    }

    th,
    .onlyTd,
    tr {
        padding: 20px 4px;
        text-align: left;
        font-size: 12px;
    }

    .newtableContainerColumn01 {
        font-weight: 900;
        /* font-size: 18px; */
    }

    .newexperienceblogHeading01 {
        text-align: center;
        font-size: 25px !important;
        font-weight: 800 !important;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .newexperienceblogTwoMainDiv01 {
        width: 100% !important;
        height: auto;
    }

    .newexperienceblogTwoMainInnerDiv {
        display: flex;
        justify-content: center !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .newexperienceblogTwoMainImgCardStyle {
        margin: 30px 0px !important;
        padding: 10px 0px !important;
    }

    .newexperienceblogTwoMainImgCardStyle {
        /* margin: 0 0 35px 0 !important; */
    }

    .newExpPage02Main {
        height: auto !important;
        padding-top: 20px;
        padding-bottom: 60px;
    }

    .newexperienceblogTwoMainLogoStyle {
        width: 40% !important;

    }

    .newexperienceblogHeadingButtonTag {
        padding: 5px 30px !important;
    }

    .newexperienceblogTwoMainImgCardStyle {
        width: 260px !important;
    }

    .newexperienceblogTwoMainTextStyle2H5 {
        color: lightgray;
        font-weight: 700;
        font-size: 21px !important;
    }
}

.newexperienceblogHeading00 {
    margin-top: 15px;
}

.newexperienceblogHeading01 {
    color: white;
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 65px;
    font-weight: 400;
}

.newexperienceblogTwoMainDiv01 {
    width: 85%;
    height: auto;
}

.newexperienceblogTwoMainInnerDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;

}

.newexperienceblogTwoMainImgCardStyle {
    width: 300px;
    /* background-color: red; */
    /* margin: 19px 0px; */
    padding: 50px 25px;
}

.newother01 {
    border-top-left-radius: 50px;
}

.newother02 {
    border-top-left-radius: 50px;

}

.newother03 {
    border-top-left-radius: 50px;

}

.newexperienceblogTwoMainImgStyle {
    width: 350px;
    height: 200px;
    padding: 10px;
}

.newexperienceblogTwoMainTextStyle {
    text-align: center;
    line-height: 70px;
}

.newexperienceblogTwoMainTextStyle2H5 {
    color: lightgray;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1px;
    margin-top: 15px;
}

.newexperienceblogTwoMainTextStyleH1 {
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    color: white;
}

.newexperienceblogTwoMainTextStyle2P {
    font-weight: 500;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}


.newExpPage02Main {
    background-color: black;
    height: 740px;
}

.newexperienceblogTwoMainLogoStyle {
    width: 65%;

}

.newexperienceblogHeadingButtonDiv {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.newexperienceblogHeadingButtonTag {
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid greenyellow;
    color: white;
    padding: 12px 60px;
    letter-spacing: 0.8px;
}

.newexperienceblogHeadingButtonTag:hover {
    background-color: #d5fc39;
    color: black;
}