.airplaneContainer02 {
    overflow: hidden;
    animation: bg-color 5s infinite;
    width: 99.9%;
    height: 92.1%;
}

.airplane02 {
    position: relative;
    width: 20%;
    left: -100%;
    animation: fly02 10s linear infinite;
}

/* @keyframes bg-color {
    0% {
        background-color: #6666ff;
    }

    25% {
        background-color: #3398db;
    }

    50% {
        background-color: skyblue;
    }

    75% {
        background-color: #3398db;
    }

    100% {
        background-color: #6666ff;
    }
} */

@keyframes fly02 {
    0% {
        left: 100%;
    }

    100% {
        left: -80%;
    }
}

.card {
    width: 50%;
}

.table {
    width: 100%;
    font-size: 1rem;
}

.experienceSlider {
    min-height: 690px;
}

.experience01LookTable {
    min-height: 740px;
}

.table {
    font-size: 2.4rem;
    border: 2px solid black;
    min-height: 740px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .card {
        width: 85% !important;
        margin: auto;
        padding: 0;
        margin: 20px 0 0 0 !important;
    }

    .table {
        width: 90% !important;
        margin: auto;
        display: flex;
        /* flex-direc/tion: column; */
        font-size: .7rem;
        min-height: auto;
    }

    .experienceDiv {
        /* background-color: red; */
        display: flex !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        justify-content: center !important;
    }

    .experienceImg {
        min-width: 40% !important;
        min-height: 40% !important;
        margin: 30px 0;
    }

    .experience01TableCol {
        padding: 10px 20px !important;
        margin: 0 !important;
        font-size: 15px !important;
        font-weight: 200 !important;
        text-align: justify;

    }

    .experience01LookTable {
        min-height: auto;
    }
}