/* .experienceH1Tag {
    color: #fff !important;
    -webkit-text-stroke: 0.2vw #000;
} */

/* .experienceH1InnerTag {
    font-size: 8vw;
    font-weight: 900;
    color: #000;
} */

/* .airplaneContainer02 {
    overflow: hidden;
    animation: bg-color 5s infinite;
    width: 99.9%;
    height: 92.1%;
} */

/* .airplane02 {
    position: relative;
    width: 20%;
    left: -100%;
    animation: fly02 10s linear infinite;
} */

/* @keyframes bg-color {
    0% {
        background-color: #6666ff;
    }

    25% {
        background-color: #3398db;
    }

    50% {
        background-color: skyblue;
    }

    75% {
        background-color: #3398db;
    }

    100% {
        background-color: #6666ff;
    }
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@keyframes fly02 {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

.card {
    width: 50%;
}


.experienceSlider {
    min-height: 690px;
}

/* .experience01LookTable {
    min-height: 740px;
} */

.table {
    font-size: 1.4rem;
    border: 2px solid black;
    min-height: 740px;
    margin: 0;
    width: 100%;
}

.text-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.text-wrapper h1 {
    font-size: 7vw;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 1rem;
    margin-left: 0;
    margin-right: 0;
    font-weight: 800;
    /* margin-top: 10px; */
    animation: move-all 8s linear infinite;
}

.text-wrapper-stoke {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

@keyframes move-all {
    0% {
        transform: translateX(0%);

    }

    100% {
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 85% !important;
        margin: auto;
        padding: 0;
        margin: 20px 0 0 0 !important;
    }

    .table {
        /* width: 10% !important; */
        /* margin: 0 auto !important; */
        display: flex;
        /* padding: 0 !important; */
        border: none;
        font-size: .7rem;
        min-height: auto;
    }

    .experienceDiv {
        /* background-color: red; */
        display: flex !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        justify-content: center !important;
    }

    .experienceImg {
        min-width: 40% !important;
        min-height: 40% !important;
        margin: 30px 0;
    }

    .experience01TableCol {
        padding: 10px 20px !important;
        margin: 0 !important;
        font-size: 15px !important;
        font-weight: 200 !important;
        text-align: justify;

    }

    .experience01LookTable {

        min-height: auto;
        margin: 0 !important;
        padding: 0 !important;
        /* width: 100% !important; */
    }

    .containerExp {
        width: 100% !important;
        /* background-color: red; */
    }

    .c {
        width: 85% !important;
        margin: auto !important;
    }

    .speechb {
        border: 2px solid black !important;
    }

    .speechb:before {
        right: 43% !important;
        top: -8.5% !important;
        width: 0;
        height: 0;
        border-top: 0px solid transparent !important;
        border-right: 18px solid transparent !important;
        border-left: 18px solid transparent !important;
        border-bottom: 52px solid grey !important;
    }

    .text-wrapper {
        margin-top: 4px !important;
        padding-top: 10px !important;
        margin-bottom: -10px;
    }

    .text-wrapper h1 {
        padding: 0 0.4rem;
        /* margin-top: 10px; */
    }

    .text-wrapper-stoke {
        -webkit-text-stroke-width: 1.2px;
    }

    .experienceSlider {
        margin-bottom: 50px;
    }

    /* bubble */
    .bodyBubble {
        overflow: hidden;
    }

    .bubble01 {
        right: 120px !important;
        bottom: -50px !important;
    }

    .expRadiusDivMain {
        height: auto !important;
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    .expRadiusDiv {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
        border: 3px solid black;
        height: auto !important;
        display: flex !important;
        align-items: center !important;
        flex-wrap: wrap !important;
    }

    .expRadiusDivH1 {
        font-size: 35px !important;
    }

    .expRadiusDivFirHeadiing {
        width: 85% !important;
        text-align: center !important;

    }

    .expRadiusDivSecImgPara {
        width: 85% !important;
    }

    .expRadiusDivSecImg {
        margin-top: 25px !important;
        width: 100% !important;
    }

    .expRadiusDivSecPara {
        font-size: 15px !important;
        text-align: center !important;
    }
}

/* .experienceH1InnerTag {
    margin: 0 !important;

} */

/* .experienceH1Tag {
    padding-top: 15px;
} */

.containerExp {
    width: 80%;
    margin: auto;
}

.c {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
}

.speechb {
    background: white;
    position: relative;
    border-radius: 22px;
    border: 2px solid black;
    box-shadow: 5px 5px 4px 0 black;
}

.speechb:before {
    content: '';
    position: absolute;
    right: 100.2%;
    top: 45%;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 45px solid grey;
    border-bottom: 25px solid transparent;
}

.experienceDiv {
    margin: auto;
}



/* bubble */
.bodyBubble {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-content: space-between; */
}

.bubble {
    position: relative;
    right: 30px;
    bottom: -30px;
    color: white;
    display: flex;
    align-self: flex-end;
    width: 150px;
    /* background-color: red; */
    border: 2px solid #0fb4ff;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
}

.bubble p {
    margin: auto;
    font-weight: 900;
    color: #0fb4ff;
    font-size: 12px;
}

.bubble span {
    position: absolute;
    border-radius: 50%;
}

.bubble span:nth-child(1) {
    inset: 4px;
    border-left: 10px solid #0fb4ff;
    filter: blur(3px);
}


.bubble01 {
    position: relative;
    right: 150px;
    bottom: -40px;
    color: white;
    display: flex;
    align-self: flex-end;
    width: 40px;
    /* background-color: red; */
    border: 2px solid #0fb4ff;
    height: 40px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
}

.bubble01 span {
    position: absolute;
    border-radius: 50%;
}

.bubble01 span:nth-child(1) {
    inset: 4px;
    border-left: 10px solid #0fb4ff;
    filter: blur(2px);
}



/* new */
.expRadiusDiv {
    width: 92%;
    border-radius: 50px;
    border: 3px solid black;
    height: 84%;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
}

.expRadiusDivH1 {
    font-size: 65px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.expRadiusDivFirHeadiing {
    width: 45%;
    height: 90%;
    margin: auto 0;
}

.expRadiusDivSecImgPara {
    width: 45%;
    height: 90%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.expRadiusDivSecImg {
    width: 55%;
    height: 34%;
    margin-bottom: 40px;
}

.expRadiusDivSecPara {
    width: 100%;
    font-size: 22px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}