/* .footerReveals {
    position: relative;
    transform: translateY(80px);
    opacity: 0;
    transition: all 0.8s ease;
}

.footerReveals.active {
    transform: translateY(0px);
    opacity: 1;
} */

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .footerLogo p {
        /* margin: auto 0; */
        width: 30% !important;
        /* font-size: 21px; */
        /* font-weight: 100; */
    }
}

@media screen and (max-width: 768px) {
    .footerPage {
        width: 100% !important;
        height: auto;
        padding: 0 !important;
    }

    /* .footerPageDiv {
        width: 85% !important;
        margin: auto;
    } */

    .footerPageDiv {
        width: 100% !important;

    }

    .footerLogo {
        display: flex !important;
        flex-wrap: wrap !important;
        width: 100% !important;
        margin: auto !important;
    }

    .align-text-top {
        /* background-color: red; */
        /* width: 77.2px !important; */
        height: 300px !important;
    }


    .footerLogo p {
        /* margin: auto 0; */
        width: 100% !important;
        font-weight: 400 !important;
        text-align: justify !important;
    }

    .footerLogo {
        /* width: 50% !important; */
        padding: 0 !important;
        margin: 0 !important;
    }

    .footerMenu {
        width: 73% !important;
        padding: 0 !important;
        margin: 0 !important;
        height: auto;

    }

    /* .footerMenuDiv {
        display: flex;
    } */

    .footerMenuUl {
        display: inline-block;
    }

    .footerLastBottom {
        display: flex !important;
        justify-content: center;
        align-items: center;
        background-color: #000;
        color: white !important;
        list-style: none;
        padding: 20px 0;
    }

    .footerLastPara {
        padding: 0 !important;
        margin: 0 !important;
    }

    .footerLastLink {
        font-weight: 900;
        color: #fff;
    }
}

.footerLastBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: white !important;
    list-style: none;
    padding: 20px 0;
}

.footerLastPara {
    padding: 0 !important;
    margin: 0 !important;
}

.footerLastLink {
    font-weight: 900;
    color: #fff;
}

.footerPage {
    width: 100% !important;
    height: auto;
    padding: 0 !important;
}

.footerPageDiv {
    width: 100%;
    /* background-color: aqua; */
    background-color: yellow;
    display: flex;
    justify-content: center;

}

.footerLogo {
    width: 65% !important;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* background-color: red; */
}


.footerLogo p {
    margin: auto 0 10px 0;
    width: 19%;
    font-size: 21px;
    font-weight: 700;
}

.footerMenuUl {
    /* background-color: red; */
    flex-direction: column !important;
}

.footerMenuUl a {
    font-weight: 700;
}