.navTopLogoDiv {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navTopLogo {
    display: none;
}

.fa-apple:hover {
    color: black;
}

.fa-apple {
    color: #8b9735;
    font-size: 40px;
}

.click_hover:hover {
    color: #d6caca;
}

.headerLockLink {
    color: black;
}

.headerDivTag {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 768px) {

    .headerLock,
    .linkedinIcon,
    .instagramIcon {
        text-align: start;
        padding: 0;
    }

    .headerDivTag {
        /* flex-direction: column; */
        display: block;
        /* justify-content: center !important; */
        /* width: 50% !important; */
    }

    .headerLockLink,
    .linkedinIconInner,
    .instagramIconInner {
        /* background-color: red; */
        margin: 0px 0px 0px 10px;
        font-size: 32px;
    }

    /* .linkedinIcon {
        padding: 0 !important;
        margin: 0 !important;
        text-align: start;

    } */

    .container-fluid {
        display: flex !important;
        justify-content: end !important;

    }

    .navTopLogo {
        display: flex !important;
    }

    .navTopLogoDiv {
        display: flex !important;
        justify-content: space-between !important;
    }

    .navTopDesktopForm {
        display: none;
    }
}