.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(150px);
    transition: all 1s;
    /* position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease; */
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    /* transition-delay: all 2s ease;
    transform: translateY(0px);
    opacity: 1; */
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 445px) {
    .magImgStyle {
        height: auto !important;
        width: 100% !important;
    }

}

@media screen and (max-width: 768px) {
    .magzinesTop {
        padding: 50px 0px !important;
        /* background-color: red; */
    }

    .magzineHeading {
        font-size: 12vw !important;
    }

    .magzinesDiv {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        /* background-color: red; */
        padding: 20px 0 !important;
        /* background-color: yellow; */
    }

    .magzineDivCard {
        margin: 15px 0px;
    }

    .magazineMainDiv {
        width: 100% !important;
        height: auto;
    }

    .magazineMainInnerDiv {
        width: auto !important;
        display: flex;
        justify-content: center !important;
    }

    .magImgCardStyle {
        width: auto !important;
        margin: 30px 0px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .magzineHeadingNavDivOne {
        padding: 5px !important;
    }

    .magzineHeadingNavDivTwo {
        padding: 5px !important;
    }

    .magzineHeadingNavDivOneButton {
        border-radius: 5px !important;
        padding: 5px 8px !important;
        font-size: 12px !important;
        font-weight: 500;
    }

    .magzineHeadingNavDivOneButton:hover {
        color: blue;
    }

    .magzineHeadingMainNav {
        width: 100% !important;
        margin: auto !important;
    }
}

.magzinesTop {
    padding: 50px 0px !important;
}

.magzinesOneDiv {
    background-color: #f5f5ff;
    border: 3px dashed #b9b8fd;
    width: 100%;
    padding: 35px 0px;
}

.magzinesDiv {
    width: 85%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color: red; */
    padding: 40px 0;
}

.magzineDivCard {
    background-color: red;
    width: 30%;
    margin: 15px 0px;
}

.magzineHeading {
    font-size: 3.5vw;
    font-weight: 700;
}

.magImgStyle {
    width: 300px;
    height: 375px;
}

.magImgCardStyle {
    width: 300px;
    margin: 20px 15px;
}

.magazineMainDiv {
    width: 85%;
    height: auto;
    margin-top: 40px;
}

.magazineMainInnerDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;

}

.card-body a {
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
}

.magzineHeadingNav {
    text-align: center;
    font-size: 25px;
    margin: auto;
}

.magzineHeadingDiv {
    text-align: center;
}

.magzineHeadingNav a:hover {
    color: black;
}

.magzineHeadingNavDivOne {
    padding: 10px;
}

.magzineHeadingNavDivTwo {
    padding: 10px;
}

.magzineHeadingNavDivOneButton {
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
}

.magzineHeadingNavDivOneButton:hover {
    color: blue;
}