/* .teamReveals {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.teamReveals.active {
    transform: translateY(0px);
    opacity: 1;
}

.newArrbookBestSellers01 {
    width: 82%;
    border-bottom: 4px solid black;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
}

@media screen and (min-device-width: 0px) and (max-device-width: 320px) {
    .newArrbookBestSellers00 {
        width: 100% !important;
        padding: 0 !important;
        padding: 40px 10px !important;
    }

    .newArrbookBestSellers01 {
        border-bottom: 4px solid black;
        margin-top: 0px !important;
        border-bottom: 3px solid black !important;
    }

    .newArrbookBestSellers0101 {
        font-size: 32px !important;
        font-weight: 600;
    }

    .newArrbookBestSellers00TeamImgH6 {
        font-size: 28px !important;
    }
}

@media screen and (min-device-width: 321px) and (max-device-width: 375px) {
    .newArrbookBestSellers00 {
        width: 100% !important;
        padding: 0 !important;
        padding: 40px 10px !important;
    }

    .newArrbookBestSellers01 {
        border-bottom: 4px solid black;
        margin-top: 0px !important;
        border-bottom: 3px solid black !important;
    }

    .newArrbookBestSellers0101 {
        font-size: 32px !important;
        font-weight: 600;
    }

    .newArrbookBestSellers00TeamImgH6 {
        font-size: 28px !important;
    }
}

@media screen and (min-device-width: 375px) and (max-device-width: 425px) {
    .newArrbookBestSellers00 {
        width: 100% !important;
        padding: 0 !important;
        padding: 40px 10px !important;
    }

    .newArrbookBestSellers01 {
        border-bottom: 4px solid black;
        margin-top: 0px !important;
        border-bottom: 3px solid black !important;
    }

    .newArrbookBestSellers0101 {
        font-size: 32px !important;
        font-weight: 600;
    }

    .newArrbookBestSellers00TeamImgH6 {
        font-size: 28px !important;
    }
}

@media screen and (min-device-width: 426px) and (max-device-width: 768px) {
    .newArrbookBestSellers00 {
        width: 100% !important;
        padding: 0 !important;
        padding: 40px 20px !important;
    }

    .newArrbookBestSellers01 {
        border-bottom: 4px solid black;
        margin-top: 0px !important;
        border-bottom: 3px solid black !important;
    }

    .newArrbookBestSellers0101 {
        font-size: 42px !important;
        font-weight: 600;
    }

    .newArrbookBestSellers00TeamImgH6 {
        font-size: 28px !important;
    }
}

@media screen and (min-device-width: 789px) and (max-device-width: 1024px) {
    .newArrbookBestSellers00 {
        width: 100% !important;
        padding: 0 !important;
        padding: 40px 20px !important;
    }

    .newArrbookBestSellers01 {
        border-bottom: 4px solid black;
        margin-top: 0px !important;
        border-bottom: 3px solid black !important;
    }

    .newArrbookBestSellers0101 {
        font-size: 60px !important;
        font-weight: 600;
    }

    .newArrbookBestSellers00TeamImgH6 {
        font-size: 28px !important;
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .newArrbookBestSellers00 {
        width: 100% !important;
        padding: 0 !important;
        padding: 40px 20px !important;
    }

    .newArrbookBestSellers01 {
        border-bottom: 4px solid black;
        margin-top: 0px !important;
        border-bottom: 3px solid black !important;
    }

    .newArrbookBestSellers0101 {
        font-size: 80px !important;
        font-weight: 600;
    }

    .newArrbookBestSellers00TeamImgH6 {
        font-size: 28px !important;
    }
}


.teamTopOneDiv {
    background: linear-gradient(135deg, #d5fc39, #fff, #fff, #fff, #fff, #fff, #fff, #d5fc39);
}


.newArrbookBestSellers00 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
    padding-top: 40px;
}

.teamText {
    width: 70%;
    margin-bottom: 30px;

}

.newArrbookBestSellers0101 {
    font-size: 82px;
    font-weight: 600;
}


.teamCardDiv {
    display: flex !important;
    width: 53%;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.newArrbookBestSellers00AddIcon {
    color: black;
    display: flex;
    align-self: self-end;
    padding-top: 0;
    padding-right: 15px;
    font-size: 22px;
}

.newArrbookBestSellers00TeamImg {
    width: 60px !important;
    height: 70px !important;
    float: left;
}

.teamCardDesktop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding-left: 10px;
    height: 220px;
    width: 190px;
    color: #fff;
    margin: 10px;
    border-radius: 30px;
    font-size: 4em;
}

.imageCard {
    text-align: start;
}

.newArrbookBestSellers00TeamImgH3,
.newArrbookBestSellers00TeamImgH6 {
    color: black;
}

.newArrbookBestSellers00TeamImgH3 {
    font-size: 20px;
    margin-top: 70px;
}

.newArrbookBestSellers00TeamImgH6 {
    font-size: 32px;
} */


.newArrbookBestSellers01 {
    width: 82%;
    border-bottom: 4px solid black;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
}

/* 
@media screen and (min-device-width: 0px) and (max-device-width: 320px) {
    .newArrbookBestSellers00 {
        width: 100% !important;
        padding: 0 !important;
        padding: 40px 10px !important;
    }

    .newArrbookBestSellers01 {
        border-bottom: 4px solid black;
        margin-top: 0px !important;
        border-bottom: 3px solid black !important;
    }

    .newArrbookBestSellers0101 {
        font-size: 32px !important;
        font-weight: 600;
    }

}


@media screen and (min-device-width: 321px) and (max-device-width: 375px) {
    .newArrbookBestSellers00 {
        width: 100% !important;
        padding: 0 !important;
        padding: 40px 10px !important;
    }

    .newArrbookBestSellers01 {
        border-bottom: 4px solid black;
        margin-top: 0px !important;
        border-bottom: 3px solid black !important;
    }

    .newArrbookBestSellers0101 {
        font-size: 32px !important;
        font-weight: 600;
    }

}

@media screen and (min-device-width: 375px) and (max-device-width: 425px) {
    .newArrbookBestSellers00 {
        width: 100% !important;
        padding: 0 !important;
        padding: 40px 10px !important;
    }

    .newArrbookBestSellers01 {
        border-bottom: 4px solid black;
        margin-top: 0px !important;
        border-bottom: 3px solid black !important;
    }

    .newArrbookBestSellers0101 {
        font-size: 32px !important;
        font-weight: 600;
    }


}

@media screen and (min-device-width: 426px) and (max-device-width: 768px) {
    .newArrbookBestSellers00 {
        width: 100% !important;
        padding: 0 !important;
        padding: 40px 20px !important;
    }

    .newArrbookBestSellers01 {
        border-bottom: 4px solid black;
        margin-top: 0px !important;
        border-bottom: 3px solid black !important;
    }

    .newArrbookBestSellers0101 {
        font-size: 42px !important;
        font-weight: 600;
    }

}

@media screen and (min-device-width: 789px) and (max-device-width: 1024px) {
    .newArrbookBestSellers00 {
        width: 100% !important;
        padding: 0 !important;
        padding: 40px 20px !important;
    }

    .newArrbookBestSellers01 {
        border-bottom: 4px solid black;
        margin-top: 0px !important;
        border-bottom: 3px solid black !important;
    }

    .newArrbookBestSellers0101 {
        font-size: 60px !important;
        font-weight: 600;
    }

}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .newArrbookBestSellers00 {
        width: 100% !important;
        padding: 0 !important;
        padding: 40px 20px !important;
    }

    .newArrbookBestSellers01 {
        border-bottom: 4px solid black;
        margin-top: 0px !important;
        border-bottom: 3px solid black !important;
    }

    .newArrbookBestSellers0101 {
        font-size: 80px !important;
        font-weight: 600;
    }

} */


.newArrbookBestSellers00 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
    padding-top: 40px;
}

.newArrbookBestSellers0101 {
    font-size: 82px;
    font-weight: 600;
}

.newArrbookBestImg {
    overflow: hidden;
    width: 50%;
}

.newArrbookBestImginText {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
    padding: 15px 35px 0px 35px;
}

.newArrbookBestImginbutton {
    align-self: flex-end;
    padding: 0px 0px 15px 0px;
}

.newArrbookinbutton {
    padding-top: 9px;
}

.newArrbookinbutton:hover {
    background-color: #d5fc39;
    color: black;
}

@media screen and (min-device-width:0px) and (max-device-width: 375px) {
    .newArrbookBestSellers00 {
        width: 100% !important;
        padding: 0 !important;
        /* height: auto !important; */
        padding: 40px 10px !important;
    }

    .newArrbookBestSellers01 {
        border-bottom: 4px solid black;
        margin-top: 0px !important;
        border-bottom: 3px solid black !important;
    }

    .newArrbookBestSellers0101 {
        font-size: 32px !important;
        font-weight: 600;
    }

    .newArrbookBestImginText {
        display: block;
        text-align: center;
        padding: 10px 0 0 0;
    }

    .newArrbookBestImginText h3 {
        font-size: 12px;
    }

    .newArrbookBestImginText h1 {
        font-size: 15px;
    }

    .newArrbookinbutton {
        font-size: 10px;
    }

    .newArrbookBestImg {
        width: 80%;
    }
}

@media screen and (min-device-width:376px) and (max-device-width: 425px) {
    .newArrbookBestSellers00 {
        width: 100% !important;
        padding: 0 !important;
        /* height: auto !important; */
        padding: 40px 10px !important;
    }

    .newArrbookBestSellers01 {
        border-bottom: 4px solid black;
        margin-top: 0px !important;
        border-bottom: 3px solid black !important;
    }

    .newArrbookBestSellers0101 {
        font-size: 32px !important;
        font-weight: 600;
    }

    .newArrbookBestImginText {
        display: block;
        text-align: center;
        padding: 10px 0 0 0;
    }

    .newArrbookBestImginText h3 {
        font-size: 16px;
    }

    .newArrbookBestImginText h1 {
        font-size: 30px;
    }

    .newArrbookinbutton {
        font-size: 14px;
    }

    .newArrbookBestImg {
        width: 80%;
    }
}

@media screen and (min-device-width:426px) and (max-device-width: 768px) {
    .newArrbookBestSellers00 {
        width: 100% !important;
        padding: 0 !important;
        /* height: auto !important; */
        padding: 40px 10px !important;
    }

    .newArrbookBestSellers01 {
        border-bottom: 4px solid black;
        margin-top: 0px !important;
        border-bottom: 3px solid black !important;
    }

    .newArrbookBestSellers0101 {
        font-size: 42px !important;
        font-weight: 600;
    }

    .newArrbookBestImginText {
        display: block;
        text-align: center;
        padding: 10px 0 0 0;
    }

    .newArrbookBestImginText h3 {
        font-size: 22px;
    }

    .newArrbookBestImginText h1 {
        font-size: 40px;
    }

    .newArrbookinbutton {
        font-size: 16px;
    }

    .newArrbookBestImg {
        width: 80%;
    }
}

@media screen and (min-device-width:769px) and (max-device-width: 1023px) {
    .newArrbookBestSellers00 {
        width: 100% !important;
        padding: 0 !important;
        /* height: auto !important; */
        padding: 40px 10px !important;
    }

    .newArrbookBestSellers01 {
        border-bottom: 4px solid black;
        margin-top: 0px !important;
        border-bottom: 3px solid black !important;
    }

    .newArrbookBestSellers0101 {
        font-size: 60px !important;
        font-weight: 600;
    }

    .newArrbookBestImginText {
        display: block;
        text-align: center;
        padding: 10px 0 0 0;
    }

    .newArrbookBestImginText h3 {
        font-size: 30px;
    }

    .newArrbookBestImginText h1 {
        font-size: 50px;
    }

    .newArrbookinbutton {
        font-size: 20px;
    }

    .newArrbookBestImg {
        width: 80%;
    }
}


@media screen and (min-device-width:1024px) and (max-device-width: 1440px) {

    .newArrbookBestSellers0101 {
        font-size: 80px !important;
        font-weight: 600;
    }
}