.teamReveals {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.8s ease;
}

.teamReveals.active {
    transform: translateY(0px);
    opacity: 1;
}



@media screen and (min-device-width: 0px) and (max-device-width: 425px) {
    .App {
        max-height: 40vh !important;
    }
}


@media screen and (min-device-width: 445px) and (max-device-width: 768px) {
    .carouselDiv {
        width: 70% !important;
    }
}

@media screen and (max-width: 1280px) {
    .teamCardDiv {
        width: 70% !important;
    }

    .App {
        width: 95% !important;
        margin-bottom: 140px !important;
        margin-top: 100px !important;
    }

    .teamTextH1 {
        font-size: 60px !important;
        font-weight: 600 !important;
        margin-top: 80px !important;
        margin-bottom: -20px !important;
    }

    .teamText {
        width: 90% !important;
        margin-bottom: 50px !important;
    }

    .teamText h1 {
        font-weight: 700 !important;
    }

    .teamText h4 {
        font-weight: 500 !important;
        font-size: 19px !important;
    }

    .teamImg {
        width: 6px !important;
        height: 90px !important;
    }

}

@media screen and (min-width: 1281px) {
    .teamCardDiv {
        width: 60% !important;
    }
}

@media screen and (min-width: 1648px) {
    .teamCardDiv {
        width: 45% !important;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .App {
        /* height: auto !important; */
        margin-top: 30px !important;
    }

    .teamCardDiv {
        width: 87% !important;
    }

    .teamTextH1 {
        font-size: 60px !important;
        font-weight: 600 !important;
        margin-top: 0px !important;
    }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
    .App {
        /* height: auto !important; */
        margin-bottom: 30px !important;

        margin-top: 30px !important;
    }

    .teamCardDiv {
        width: 65% !important;
    }
}

@media screen and (min-device-width: 1440px) and (max-device-width: 2560px) {
    .teamCardDiv {
        width: 65% !important;
    }
}

.teamTopOneDiv {
    background: linear-gradient(135deg, #d5fc39, #fff, #fff, #fff, #fff, #fff, #fff, #d5fc39);
}


.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 85%;
    margin: auto;
}

.teamText {
    width: 70%;
    margin-bottom: 30px;

}

.teamTextH1 {
    font-size: 82px;
    font-weight: 600;
}

.carouselDiv {
    display: none !important;

}

.teamCardDiv {
    display: flex !important;
    width: 53%;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.addIcon {
    color: black;
    display: flex;
    align-self: self-end;
    padding-top: 0;
    padding-right: 15px;
    font-size: 22px;
}

.teamImg {
    width: 60px !important;
    height: 70px !important;
}

.teamCardDesktop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding-left: 10px;
    height: 220px;
    width: 190px;
    background-color: #d5fc39;
    color: #fff;
    margin: 10px;
    border-radius: 30px;
    font-size: 4em;
}

.imageCard {
    text-align: start;
}

.teamImgH3,
.teamImgH6 {
    color: black;
}

.inSlideCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    overflow: hidden;
}


.slide-image {
    transition: transform 1s;
}

.slide-image:hover {
    transform: translateZ(20px);
    opacity: 0.8;
}

.team-container {
    display: grid;
    place-items: center;
}

.in-container {
    height: 240px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    padding-left: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.slide-container {
    display: flex;
    width: calc(280px*12);
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-280px * 6));
    }
}

@media screen and (max-width: 768px) {
    .App {
        width: 95% !important;
        height: 85vh !important;
    }

    .carouselDiv {
        display: flex !important;

    }

    .teamCardDiv {
        display: none !important;
    }


    .teamTextH1 {
        font-size: 40px !important;
        font-weight: 600 !important;
        margin-top: 40px !important;
    }

    .teamText {
        width: 90% !important;
        margin-bottom: 50px !important;
    }

    .teamText h1 {
        font-weight: 700 !important;
    }

    .teamText h4 {
        font-weight: 500 !important;
        font-size: 19px !important;
    }

    .teamImg {
        width: 80px !important;
        height: 90px !important;
    }

    .teamImgH3 {
        font-size: 18px !important;
        font-weight: 600 !important;
    }
}
















/* .secondteamReveals {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.8s ease;
}

.secondteamReveals.active {
    transform: translateY(0px);
    opacity: 1;
}

@media screen and (min-device-width: 445px) and (max-device-width: 768px) {
    .secondcarouselDiv {
        width: 70% !important;
    }
}


@media screen and (max-width: 1280px) {
    .secondteamCardDiv {
        width: 70% !important;
    }

    .secondApp {
        width: 95% !important;
        margin-bottom: 50px !important;
    }

    .secondteamTextH1 {
        font-size: 60px !important;
        font-weight: 600 !important;
        margin-top: 80px !important;
        margin-bottom: -20px !important;
    }

    .secondteamText {
        width: 90% !important;
        margin-bottom: 50px !important;
    }

    .secondteamText h1 {
        font-weight: 700 !important;
    }

    .secondteamText h4 {
        font-weight: 500 !important;
        font-size: 19px !important;
    }

    .secondteamImg {
        width: 6px !important;
        height: 90px !important;
    }

}

@media screen and (min-width: 1281px) {
    .secondteamCardDiv {
        width: 60% !important;
    }
}

@media screen and (min-width: 1648px) {
    .secondteamCardDiv {
        width: 45% !important;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .secondApp {
        height: auto !important;
        margin-top: 30px !important;
    }

    .secondteamCardDiv {
        width: 87% !important;
    }

    .secondteamTextH1 {
        font-size: 60px !important;
        font-weight: 600 !important;
        margin-top: 0px !important;
    }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
    .secondApp {
        height: auto !important;
        margin-bottom: 30px !important;

        margin-top: 30px !important;
    }

    .secondteamCardDiv {
        width: 65% !important;
    }
}

@media screen and (min-device-width: 1440px) and (max-device-width: 2560px) {

    .secondteamCardDiv {
        width: 65% !important;
    }
}

.secondteamTopOneDiv {
    background: linear-gradient(135deg, #d5fc39, #fff, #fff, #fff, #fff, #fff, #fff, #d5fc39);
}


.secondApp {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 85%;
    margin: auto;
}

.secondteamText {
    width: 70%;
    margin-bottom: 30px;

}

.secondteamTextH1 {
    font-size: 82px;
    font-weight: 600;
}

.secondcarouselDiv {
    display: none !important;

}

.secondteamCardDiv {
    display: flex !important;
    width: 53%;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.secondaddIcon {
    color: black;
    display: flex;
    align-self: self-end;
    padding-top: 0;
    padding-right: 15px;
    font-size: 22px;
}

.secondteamImg {
    width: 60px !important;
    height: 70px !important;
}

.secondteamCardDesktop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding-left: 10px;
    height: 220px;
    width: 190px;
    background-color: #d5fc39;
    color: #fff;
    margin: 10px;
    border-radius: 30px;
    font-size: 4em;
}

.secondimageCard {
    text-align: start;
}

.secondteamImgH3,
.secondteamImgH6 {
    color: black;
}

.secondinSlideCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    overflow: hidden;
}


.secondslide-image {
    transition: transform 1s;
}

.secondslide-image:hover {
    transform: translateZ(20px);
    opacity: 0.8;
}

.secondteam-container {
    display: grid;
    place-items: center;
}

.secondin-container {
    height: 240px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    padding-left: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.secondslide-container {
    display: flex;
    width: calc(280px*12);
    animation: secondscroll 20s linear infinite;
}

@keyframes secondscroll {
    100% {
        transform: translateX(0);
    }

    0% {
        transform: translateX(calc(-280px * 6));
    }
}

@media screen and (max-width: 768px) {
    .secondApp {
        width: 95% !important;
        height: 85vh !important;
    }

    .secondcarouselDiv {
        display: flex !important;

    }

    .secondteamCardDiv {
        display: none !important;
    }


    .secondteamTextH1 {
        font-size: 40px !important;
        font-weight: 600 !important;
        margin-top: 40px !important;
    }

    .secondteamText {
        width: 90% !important;
        margin-bottom: 50px !important;
    }

    .secondteamText h1 {
        font-weight: 700 !important;
    }

    .secondteamText h4 {
        font-weight: 500 !important;
        font-size: 19px !important;
    }

    .secondteamImg {
        width: 80px !important;
        height: 90px !important;
    }

    .secondteamImgH3 {
        font-size: 18px !important;
        font-weight: 600 !important;
    }
} */