.teamReveals {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.teamReveals.active {
    transform: translateY(0px);
    opacity: 1;
}

@media screen and (min-device-width: 445px) and (max-device-width: 768px) {
    .carouselDiv {
        width: 70% !important;
    }
}

/* @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .App {
        height: auto !important;
    }
} */

@media screen and (max-width: 1280px) {
    .teamCardDiv {
        width: 70% !important;
    }

    .App {
        width: 95% !important;
        /* background-color: red !important; */
        margin-bottom: 50px !important;
    }

    .teamTextH1 {
        font-size: 60px !important;
        font-weight: 600 !important;
        margin-top: 80px !important;
        margin-bottom: -20px !important;
    }

    .teamText {
        width: 90% !important;
        margin-bottom: 50px !important;
    }

    .teamText h1 {
        font-weight: 700 !important;
    }

    .teamText h4 {
        font-weight: 500 !important;
        font-size: 19px !important;
    }

    .teamImg {
        width: 6px !important;
        height: 90px !important;
    }

}

@media screen and (min-width: 1281px) {
    .teamCardDiv {
        width: 60% !important;
    }
}

@media screen and (min-width: 1648px) {
    .teamCardDiv {
        width: 45% !important;
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .App {
        height: auto !important;
        margin-top: 30px !important;
    }

    .teamCardDiv {
        /* display: flex !important; */
        width: 87% !important;
        /* flex-wrap: wrap; */
        /* justify-content: space-evenly; */
    }

    .teamTextH1 {
        font-size: 60px !important;
        font-weight: 600 !important;
        margin-top: 0px !important;
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .App {
        height: auto !important;
        margin-bottom: 30px !important;

        margin-top: 30px !important;
    }

    .teamCardDiv {
        /* display: flex !important; */
        width: 65% !important;
        /* flex-wrap: wrap; */
        /* justify-content: space-evenly; */
    }
}

@media screen and (min-device-width: 1440px) and (max-device-width: 2560px) {
    .App {
        height: auto !important;
        margin-bottom: 30px !important;

        margin-top: 30px !important;
    }

    .teamCardDiv {
        /* display: flex !important; */
        width: 65% !important;
        /* flex-wrap: wrap; */
        /* justify-content: space-evenly; */
    }
}

.teamTopOneDiv {
    background: linear-gradient(135deg, #d5fc39, #fff, #fff, #fff, #fff, #fff, #fff, #d5fc39);
}


.App {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 85%;
    margin: auto;
}

.teamText {
    width: 70%;
    margin-bottom: 30px;

}

.teamTextH1 {
    font-size: 82px;
    font-weight: 600;
}

.carouselDiv {
    display: none !important;

}

.teamCardDiv {
    display: flex !important;
    width: 53%;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.addIcon {
    color: black;
    display: flex;
    align-self: self-end;
    padding-top: 0;
    padding-right: 15px;
    font-size: 22px;
}

.teamImg {
    width: 60px !important;
    height: 70px !important;
    float: left;
}

.teamCardDesktop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding-left: 10px;
    height: 220px;
    width: 190px;
    /* background-color: #00008b; */
    background-color: #d5fc39;
    color: #fff;
    margin: 10px;
    border-radius: 30px;
    font-size: 4em;
}

.imageCard {
    text-align: start;
}

.teamImgH3,
.teamImgH6 {
    color: black;
}

@media screen and (max-width: 768px) {
    .App {
        width: 95% !important;
        /* background-color: red !important; */
        height: 85vh !important;
    }

    .carouselDiv {
        display: flex !important;

    }

    .teamCardDiv {
        display: none !important;
    }


    .teamTextH1 {
        font-size: 40px !important;
        font-weight: 600 !important;
        margin-top: 40px !important;
    }

    .teamText {
        width: 90% !important;
        margin-bottom: 50px !important;
    }

    .teamText h1 {
        font-weight: 700 !important;
    }

    .teamText h4 {
        font-weight: 500 !important;
        font-size: 19px !important;
    }

    .teamImg {
        width: 80px !important;
        height: 90px !important;
    }

    .teamImgH3 {
        font-size: 18px !important;
        font-weight: 600 !important;
    }
}