section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background-color: #0d0d0d;
}

section .scroll {
    width: 100%;
    display: flex;

}

section .scroll div {
    background-color: #ffcb46;
    font-size: 6vw;
    text-transform: uppercase;
    white-space: nowrap;
    word-spacing: 15px;
    padding: 0 2rem;
    font-weight: 800;
    animation: move-all 15s linear infinite;
    border-color: #ffcb46;
    line-height: 100%;
    margin-top: 26px;
    margin-bottom: 26px;
}



@keyframes move-all {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

section .scroll.text1 {
    transform: rotate(-2deg) translateY(-200px) translateY(200px);
}

/* .text-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.text-wrapper h1 {
    font-size: 7vw;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 5rem;
    font-weight: 800;
    animation: move-all 8s linear infinite;
}

.text-wrapper-stoke {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

@keyframes move-all {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
} */


.card-get-in-touch {
    flex-direction: row;
}

.workPageDiv {
    border: 2px solid white;
}

.workPageDivButton {
    padding: 10px 20px !important;
    margin: 0 !important;
    font-size: 15px;
}

.card-img-top {
    width: 100%;
}

.card-columns {
    width: 100%;
}

/* .cardGroup {
    width: 30%;
    height: 30%;
} */


@media screen and (max-width: 768px) {

    .card-img-top {
        width: 100% !important;
    }

    .workPage {
        padding: 30px 0 0 0 !important;
    }

    .workPageDiv {
        padding: 10px 20px 20px 20px !important;
        width: 85% !important;
        border: 2px solid white;
        flex-direction: column;
    }

    .workPageDivBox {
        padding: 15px 0px !important;
        text-align: justify;
    }


    .workPageDivButton001 {
        width: 100% !important;
        text-align: center !important;
    }

    .workPageDivButton {
        padding: 15px 20px !important;
        font-size: 20px;
        width: 100% !important;
    }

    .workPageDivCard {
        background-color: yellow;
    }

    .workPageDivIcon {
        /* width: 100% !important; */
        /* margin: 0 !important; */
        padding: 0 !important;
        justify-content: space-between !important;
        display: flex !important;
    }

    .workPageDivIconImgDone {
        height: 50px !important;
        width: 80px !important;
        margin: 25px 0px !important;
    }

    .cardGroup {
        width: 100%;
        height: 100%;
    }

    /* .text-wrapper {
        margin-top: 4px !important;
        padding-top: 10px !important;
        margin-bottom: -10px;
    }

    .text-wrapper h1 {
        padding: 0 2rem;
    }

    .text-wrapper-stoke {
        -webkit-text-stroke-width: 1.2px;
    } */

    section .scroll div {
        padding: 0 1rem !important;
        margin-top: 7px;
        margin-bottom: 7px;
    }
}