.workPageDivIconImg {
    width: 13% !important;
    height: 13% !important;
    padding: 5px !important;
    margin: 15px !important;
}

.workPageDivIconImgDone {
    margin: 0 !important;
}

.IconImg01 {
    width: 100% !important;
    height: 100% !important;
}

.IconImg02 {
    width: 100% !important;
    height: 100% !important;
}

.IconImg03 {
    width: 100% !important;
    height: 100% !important;
}

.IconImg04 {
    width: 100% !important;
    height: 100% !important;
}

.IconImg05 {
    width: 100% !important;
    height: 100% !important;
}

.IconImg06 {
    width: 100% !important;
    height: 100% !important;
}

.IconImg07 {
    width: 100% !important;
    height: 100% !important;
}

.IconImg08 {
    width: 100% !important;
    height: 100% !important;
}

.IconImg09 {
    width: 100% !important;
    height: 100% !important;
}

.IconImg10 {
    width: 100% !important;
    height: 100% !important;
}

.IconImg11 {
    width: 100% !important;
    height: 100% !important;
}

.IconImg12 {
    width: 100% !important;
    height: 100% !important;
}


/* .workPageDivIconImgDone {
    height: 70px !important;
    width: 140px !important;
    margin: 25px 20px !important;
} */

@media screen and (max-width: 1280px) {
    .workPageDivButton001 {
        width: 20% !important;
    }

    .workPage {
        padding: 50px 0 0 0 !important;
    }

    .card-columns {
        margin-top: 35px !important;
    }

    .cardGroup {
        display: flex !important;
        justify-content: center !important;
        width: 30%;
        /* height: 20%; */
        margin: 10px;
    }

    .card-img-top {
        width: 100% !important;
        margin: 0 !important;
    }

    .workPageDivIconImgDone {
        height: 50px !important;
        width: 100px !important;
        margin: 25px 10px !important;
    }

}

@media screen and (min-width: 1281px) {
    .workPageDivButton001 {
        width: 16% !important;
    }

    .workPage {
        padding: 50px 0 0 0 !important;
    }

    .card-columns {
        margin-top: 35px !important;
    }

    .cardGroup {
        display: flex !important;
        justify-content: center !important;
        width: 28%;
        /* height: 20%; */
        margin: 15px;
    }

    .card-img-top {
        width: 100% !important;
        margin: 0 !important;
    }

    /* .workPageDivIconImgDone {
        height: 50px !important;
        width: 100px !important;
        margin: 25px 10px !important;
    } */

    /* .workPageDivIconImgDone {
        height: 70px !important;
        width: 140px !important;
        margin: 25px 20px !important;
    } */
}

@media screen and (min-width: 1648px) {
    .cardGroup {
        width: 24%;
    }
}

@media screen and (min-width: 1848px) {
    .cardGroup {
        width: 22%;
    }


}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .workPageDivIconImgDone {
        height: 50px !important;
        width: 80px !important;
        margin: 25px 10px !important;
    }

    .workPageDivButton001 {
        width: 30% !important;
    }

    .cardGroup {
        width: 30%;
        /* height: 20%; */
        margin: 10px;
    }

    .card-img-top {
        height: 100% !important;
    }

    .workPageDivBox {
        padding-left: 30px !important;
    }
}

.reveals {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveals.active {
    transform: translateY(0px);
    opacity: 1;
}

section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background-color: #0d0d0d;
}

section .scroll {
    width: 100%;
    display: flex;

}

section .scroll div {
    background-color: #ffcb46;
    font-size: 6vw;
    text-transform: uppercase;
    white-space: nowrap;
    word-spacing: 15px;
    padding: 0 2rem;
    font-weight: 800;
    animation: move-all 15s linear infinite;
    border-color: #ffcb46;
    line-height: 100%;
    margin-top: 26px;
    margin-bottom: 26px;
}



@keyframes move-all {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

section .scroll.text1 {
    transform: rotate(-2deg) translateY(-200px) translateY(200px);
}

/* .text-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.text-wrapper h1 {
    font-size: 7vw;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 5rem;
    font-weight: 800;
    animation: move-all 8s linear infinite;
}

.text-wrapper-stoke {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

@keyframes move-all {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
} */


.card-get-in-touch {
    flex-direction: row;
}

.workPageDiv {
    border: 2px solid white;
}

.workPageDivButton {
    padding: 10px 20px !important;
    margin: 0 !important;
    font-size: 15px;
}

.card-img-top {
    width: 100%;
}

.card-columns {
    width: 100%;
}

/* .cardGroup {
    width: 30%;
    height: 30%;
} */


@media screen and (max-width: 768px) {

    .card-img-top {
        width: 100% !important;
    }

    .workPage {
        padding: 30px 0 0 0 !important;
    }

    .workPageDiv {
        padding: 10px 20px 20px 20px !important;
        width: 85% !important;
        border: 2px solid white;
        flex-direction: column;
    }

    .workPageDivBox {
        padding: 15px 0px !important;
        text-align: justify;
    }


    .workPageDivButton001 {
        width: 100% !important;
        text-align: center !important;
    }

    .workPageDivButton {
        padding: 15px 20px !important;
        font-size: 20px;
        width: 100% !important;
    }

    .workPageDivIcon {
        justify-content: space-between !important;
    }

    .workPageDivIconImg {
        width: 23% !important;
    }

    .IconImg01,
    .IconImg02,
    .IconImg03,
    .IconImg04,
    .IconImg05,
    .IconImg06,
    .IconImg07,
    .IconImg08,
    .IconImg09,
    .IconImg10,
    .IconImg11,
    .IconImg12 {
        width: 100% !important;
        height: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .cardGroup {
        width: 100%;
        height: 100%;
    }

    section .scroll div {
        padding: 0 1rem !important;
        margin-top: 7px;
        margin-bottom: 7px;
    }
}