.header {
    margin-top: 60px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #444;
}

.headerTitleSm {
    position: absolute;
    top: 0%;
    font-size: 20px;
}

.headerTitleLg {
    position: absolute;
    top: 0%;
    font-size: 100px;
}

.headerImg {
    width: 100%;
    height: 518px;
    margin-top: 80px;
    object-fit: cover;
}

@media screen and (min-device-width: 0px) and (max-device-width: 320px) {
    .header {
        margin-top: 30px;
    }

    .headerTitleSm {
        position: static;
        font-size: 25px;
    }

    .headerTitleLg {
        position: static;
        z-index: 1;
    }

    .headerImg {
        margin-top: -77px;
    }

}

@media screen and (min-device-width: 321px) and (max-device-width: 375px) {
    .header {
        margin-top: 30px;
    }

    .headerTitleSm {
        position: static;
        font-size: 25px;
    }

    .headerTitleLg {
        position: static;
        z-index: 1;
    }

    .headerImg {
        margin-top: -77px;
    }

}

@media screen and (min-device-width: 376px) and (max-device-width: 425px) {
    .header {
        margin-top: 30px;
    }

    .headerTitleSm {
        position: static;
        font-size: 25px;
    }

    .headerTitleLg {
        position: static;
        z-index: 1;
    }

    .headerImg {
        margin-top: -77px;
    }

}

@media screen and (min-device-width: 426px) and (max-device-width: 768px) {
    .header {
        margin-top: 30px;
    }

    .headerTitleSm {
        position: static;
        font-size: 25px;
    }

    .headerTitleLg {
        position: static;
        z-index: 1;
    }

    .headerImg {
        margin-top: -77px;
    }

}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .header {
        margin-top: 30px;
    }

    .headerTitleSm {
        position: static;
        font-size: 25px;
    }

    .headerTitleLg {
        position: static;
        z-index: 1;
    }

    .headerImg {
        margin-top: -77px;
    }

}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .header {
        margin-top: 30px;
    }

    .headerTitleSm {
        position: static;
        font-size: 25px;
    }

    .headerTitleLg {
        position: static;
        z-index: 1;
    }

    .headerImg {
        margin-top: -77px;
    }

}